@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

.flex-center {
  @apply flex justify-center items-center;
}

.background {
  background-image: url("/city.jpg");
}
.cityCard {
  @apply w-full h-32 rounded-3xl text-white flex-center drop-shadow-2xl background;
}
.bgImage {
  @apply rounded-3xl;
}
.bgText {
  @apply absolute text-white text-center;
}

.goBack {
  @apply bg-blue-300 rounded-full py-2 px-4 shadow-lg inline-block;
}

.circle-btn {
  @apply flex-center w-10 h-10 rounded-full cursor-pointer shadow-sm mx-2 text-sm font-semibold;
}

.active-btn {
  @apply bg-black text-white circle-btn;
}
.other-btn {
  @apply bg-white circle-btn;
}

.hightlight-item {
  @apply bg-white shadow-md rounded-3xl col-span-1 p-5 flex items-center h-56;
}

.main-text {
  @apply md:text-3xl lg:text-4xl py-8;
}

.sec-text {
  @apply text-xl;
}

.hl-h {
  @apply text-sm text-gray-400 capitalize;
}

.hl-f {
  @apply text-sm capitalize;
}

.input-box {
  @apply rounded-full border px-4 py-2;
}
::placeholder {
  color: black;
}

.navItem {
  @apply inline-block px-5;
}
